<div class="container">
<table>
  <tr><td>Group Name </td><td></td> <td>Parent Group</td><td></td><td>Organization Type</td><td></td></tr>
  <tr><td>Group Description</td><td></td></tr>
  <tr><td>Address1</td><td></td><td>Address2</td><td></td><td>Zip</td><td></td></tr>
  <tr><td>Country</td><td></td><td>State</td><td></td><td>City</td><td></td></tr>
  <tr><td>Phone</td><td></td><td>Email</td><td></td><td>Fax</td><td></td></tr>
  <tr><td>Language</td><td></td><td>Currency</td><td></td><td>Web</td><td></td></tr>
</table>
<table>
  <tr><td>Name</td><td></td><td>Phone</td><td></td><td>Email</td><td></td></tr>
  <tr><td>Fax</td><td></td><td>Mobile</td><td></td><td>Designation</td><td></td></tr>
</table>
</div>